<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

</head>
<body>
<!--welcome page-->
<h1>Welcome to the Game Collections App!</h1>
<br>
<!--link to login from registration directory-->
<a href="{% url 'login' %}">LOG IN</a>    or
<br>
<br>
<!--link to create new user from views-->
<a href="{% url 'create_user' %}">CREATE A NEW USER</a>

<!--new user from-->
<form method="POST">
    {% csrf_token %}
    {{  new_user_form.as_p  }}
    <button>Submit New User</button>
</form>
<!-- new game form-->
<form method="POST">
    {% csrf_token %}
    {{ game_form.as_p }}
    <!--<button>Submit New Game</button>-->
</form>

<!--display games from game model-->
{% for eachGame in games %}
    {{eachGame}}
<a href="{% url 'edit_game' eachGame.id %}">Edit Game</a>
{% endfor %}

</body>

</html>