<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<!--login form errors-->
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<!--login form -->
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>

        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>

        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<br>
<!--link to create new user-->
<form method="POST">or create a <a href="{% url 'create_user' %}">new user</a>
    {% csrf_token %}
    {{  new_user_form.as_p  }}
</form>


<hr/>
</body>
</html>

